h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkseagreen;
    text-shadow: 1px 1px 2px blanchedalmond;
}
#dee {
    font-style: italic;
    background-image: -webkit-linear-gradient(45deg, #A683E3 50%, #E4E9FD 30%, #B270A2 20%);
    color: black;
}
